doctype 5
html
  head
    title Docker Example
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/vendor.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    h1 Hello world

    script(data-main='javascript/boot', src='/components/requirejs/require.js')
    block javascript